/* CSS Document */

div.head{
background-image:url(top_stone.gif);
width:100%;
font-family:"ו";
font-size:30px;
font-style:normal;
height:100px;
text-align:center;
}

.ul{
margin:0;
padding:0;
list-style:none;
}

ul a{
border:0px solid black;
display:block;
width:100%;
height:39px;
color:#000;
line-height:40px;
text-decoration:none;
text-align:center;

}

a:hover{
background-color:#FF0066;
color:#66CC00;
}

.copyright{
background-color:#66CC33;
float:none;
}

.body_letf{
background-color:#F2F3F4;
width:18%;
float:left;
}
.body_center{
font-family:"ו";
font-size:24px;
}

.textarea{
width:80%;
height:300px;
}